/* #32b5e0
#08457e */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-image: url(./img/pics\ 7.jpeg);
    background-size: cover;
    height: 97vh;
    background-position: center;
}
nav {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #1c5a4d;
    color: #e6e6fa ;
    text-align: center;
}
.menu-options {
    display: inline-flex;
    list-style: none;
}
.one {
    width: 150px;
    margin: 20px;
    padding: 10px;
}
.one:hover {
    background-color: #20b2aa;
    border-radius: 20px;
}
.one a {
    text-decoration: none;
    color: #e6e6fa;
}
.one a:hover {
    color: #800000;
    transition: all 0.2s linear;
    background-color: #20b2aa;
    padding: 2px;
    border-radius: 10px;
}
  .one:after {
    font-family: "Font Awsome 5 Free";
    font-weight: 900;
} 
.sub1 {
    display: none;
}
.one:hover .sub1 {
    display: block;
    position: absolute;
    background: #1c5a4d;;
    margin-top: 10px;
    margin-left: -10px;
}
.one:hover .sub1-menu {
    width: 190px;
    list-style: none;
    display: block;
    margin: 10px;    
}
.one:hover .sub1-menu li {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e6e6fa;
}
.sub2 {
    display: none;
}
.two:hover .sub2 {
    display: block;
    position: absolute;
    background: #1c5a4d;
    margin-top: -30px;
    margin-left: 180px;
}
i.fas,
i.fab {
      padding: 8px;
}  
.fa-angle-right {
    float: right;
}
    
.two:hover .sub2-menu {
    width: 180px;
    list-style: none;
    display: block;
}
.two:hover .sub2-menu li {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e6e6fa;
}  

